@import "./variables.scss";

.avatar-container {
    margin: 10px;
}

.avatar {
    width: 250px;
    height: 250px;
    margin: auto;
    border: 5px solid $fontColor;
    border-radius: 100%;
}

.about-me {
    width: 80%;
    margin: auto;
    text-align: left;

    span {
        font-size: 1.5em;
    }

    .highlight {
        color: $tertiaryColor;
    }

    p {
        margin: 15px auto;
    }

    .list {
        columns: 2;
        list-style: none;
    }

    .list li:before {
        content: "\203A";
        padding-right: 5px;
    }
}

@media screen and (max-width: 768px) {
    .about-me {
        width: 100%;
    }
}
