@import './variables.scss';

header {
    background-color: rgba($fontColor, .9);
}

nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.logo {
    display: none;
}

.logo a {
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $tertiaryColor;
    transition: letter-spacing .2s;
}

.logo a:hover {
    letter-spacing: 10px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

nav ul li {
    list-style: none;
    font-weight: bold;
    margin: 0 5vw;
}

nav ul li a {
    font-size: 18px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: $secondaryColor;
    transition: color .3s;
}

nav ul li a:hover {
    border-bottom: 3px solid;
    color: $primaryColor;
}