@import './variables.scss';

header {
    background-color: rgba($fontColor, .9);
    border-bottom: 2px $primaryColorShadow solid;
}

nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.logo {
    display: block;
    width: 30%;
}

.logo * {
    font-family: 'Architects Daughter', 'Roboto Condensed', 'Segoe UI', 'Arial';
}

.logo a {
    font-size: 20px;
    color: $primaryColorShadow;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .4s;
}

.logo a:hover {
    color: $primaryColor;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.nav-list li {
    list-style: none;
    margin: 0 25px;
}

.nav-item {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: $secondaryColor;
    transition: color .5s;
}

.nav-item-active {
    color: $tertiaryColor;
    border-bottom: 3px solid;
}

.nav-item:hover {
    border-bottom: 3px solid;
    color: $primaryColor;
}