nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    transition: letter-spacing .2s;
}

.logo a:hover {
    letter-spacing: 5px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

nav ul li {
    list-style: none;
    font-weight: bold;
}

nav ul li a {
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    transition: border-bottom .2s;
}

nav ul li a:hover {
    border-bottom: 2px solid;
}