@import './variables.scss';

.icon-wrapper {
    width: 4em;
    height: 4em;
    line-height: 4.25em;
    text-indent: 0;
    color: $fontColor;
    border-width: 3px;
    border-style: solid;
    border-color: $fontColor;
    border-radius: 100%;
    transition: color .3s, border-color .3s;
    margin: 10px;
}

.icon-wrapper:hover {
    color: $primaryColorShadow;
    border-color: $primaryColorShadow;
}

.icon {
    font-size: 2em;
}
