@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
    font-family: 'Roboto Condensed', 'Times New Roman';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    transition: letter-spacing .2s;
}

.logo a:hover {
    letter-spacing: 5px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}

nav ul li {
    list-style: none;
    font-weight: bold;
}

nav ul li a {
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    transition: border-bottom .2s;
}

nav ul li a:hover {
    border-bottom: 2px solid;
}

.content {
    flex-grow: 1;
}

.greeting {
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

footer {
    text-align: center;
    color: white;
    margin: 20px;
}