@import './variables.scss';

.greeting {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: $fontColor;
    font-size: 36px;
    text-shadow: 3px 3px $primaryColorShadow;
}