@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import './variables.scss';

* {
    font-family: 'Roboto Condensed', 'Segoe UI', 'Arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(to bottom, $primaryColorOff 0%, $primaryColor 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.greeting {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    color: $fontColor;
    text-align: center;
    font-size: 36px;
    text-shadow: 3px 3px $primaryColorShadow;
}

footer {
    text-align: center;
    color: $fontColor;
    margin: 20px;
}