@import './variables.scss';

.greeting {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $fontColor;
    font-size: 26px;
    text-shadow: 3px 3px $primaryColorShadow;
}

.cover {
    opacity: .5;
}