@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
    font-family: 'Roboto Condensed', 'Times New Roman';
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}