@import './variables.scss';

* {
    font-family: 'Roboto Condensed', 'Segoe UI', 'Arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(to bottom, $primaryColorOff 0%, $primaryColor 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 20px;
    color: $fontColor;
    font-size: 26px;
}

@media screen and (max-width: 992px) {
    .content {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        font-size: 18px;
    }
}